body {  
    margin: 5%;
}

.menu {    
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #efefef;
    border-radius: 5px;
    padding: 0.6em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.remove {    
    border-radius: 50%;    
    background-color: rgb(212, 212, 212);
    border-color: rgb(140, 140, 140);
}

.userInput {
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 95%;
    height: 95px;
    padding-left: 10px;
    outline: none;
}

#addBtn {
    background-color: rgb(200, 200, 200);
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 30%;
    height: 26px;
    outline: none;
}

.sticker {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #efefef;
    border-radius: 5px;
    padding: 0.6em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}