.menu {
    display: flex;
    flex-basis: auto;
}

#albumList {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#photosList {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.album {    
    background-color: #e0e0e0;
    margin: 4px;
    cursor: pointer;    
}

.photo {        
    margin: 4px;
    cursor: pointer;
}

.choose {
    background-color: #b5b5b5;
    transition: all 0.5s ease;
}