* {
    margin: 0;
}

.square {
    width: 100px; 
    height: 100px;
    position: absolute;
    background: rgb(0, 0, 0)
}

.rectangle {
    width: 150px; 
    height: 100px;    
    position: absolute;
    background: rgb(0, 0, 0)
}

.circle {
    width: 100px; 
    height: 100px;    
    border-radius: 50%;
    position: absolute;
    background: rgb(0, 0, 0)
}

