body {
    background-color: rgb(228, 228, 228);
    width: 80%;    
    margin: 10%;
}

.menu {
    padding-left: 60px;
}

#message {
    background-color: rgb(255, 255, 255);  
    margin: 4px;
}

em {
    font-style: italic;
}

#userNameInput {
    background-color: rgb(200, 200, 200);
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 15%;
    height: 20px;
    text-align: center;
    outline: none;
}

#userMessageInput {
    background-color: rgb(200, 200, 200);
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 60%;
    resize: none;
}

#sendBtn {
    background-color: rgb(200, 200, 200);
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 15%;
    height: 26px;
    outline: none;
}