#container {           
    width: 80%;    
    margin: 10%;
}

#container .title {
    display: inline-block;
    cursor: pointer;
    /* margin: 0px 0px 10px 0px; */
    /* padding: 20px; */
    background: #6c45b3;
    color: #fff;
    border: 3px solid #909090;
    border-radius: 5px 5px 0 0;
    /* box-sizing: border-box; */
    font-size: 1.5em;
    font-family: fantasy;
    transition: all 0.5s ease;
    /* transform: scaleY(1); */
    z-index: 5;
}    

#container .choose{
    border: 1px solid;
    border-bottom: 3px solid #696bfd;
    border-radius: 5px 5px 0 0;
    /* margin: 0px; */
    background-color: #696bfd;
}

#container .body {
    /* display: none; */
    /* margin: 0px 0px 10px 0px; */
    padding: 20px;     
    border: 1px solid #696bfd;
    /* border-top: none; */
    position: relative;
    top: -1px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

#container .hide {
    display: none;
}

#container .visible {
    display: block;
}

/* #list .accordionBody {
    display: inline-block;
    position: relative;
    z-index: 5;
}

#list .body {
    width: 800px;
    position: relative;
} */