body {           
    width: 80%;    
    margin: 10%;
}

.menu {
    padding-left: 40px;
}

.remove {    
    border-radius: 50%;    
    background-color: rgb(212, 212, 212);
    border-color: rgb(140, 140, 140);
}

.task {
    background-color: rgb(255, 255, 61);   
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

.done {
    background-color: rgb(66, 240, 66);
    display: flex;
    justify-content: space-between;
}

#userInput {
    background-color: rgb(200, 200, 200);
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 65%;
    height: 20px;
    padding-left: 10px;
    outline: none;
}

#addBtn {
    background-color: rgb(200, 200, 200);
    border-color: rgb(130, 130, 130);
    border-radius: 10px;
    width: 30%;
    height: 26px;
    outline: none;
}